Repository h3mmy/bloopySphere, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/ci:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
  - "infrastructure/terraform/**/*"

(readme) Update k3s version
  README.md
Labels: none

(hub) fix NodeSelectorTerm
  cluster/apps/default/jupyterhub/helm-release.yaml
Labels: area/cluster

ci(deps): update renovatebot/github-action action to v34.23.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix: update docker image ghcr.io/onedr0p/prowlarr-nightly to 0.4.10.2086
  cluster/apps/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix: update docker image ghcr.io/k8s-at-home/radarr-nightly to v4.3.1.6748
  cluster/apps/media/radarr/radarr-hd/helm-release.yaml
  cluster/apps/media/radarr/radarr-uhd/helm-release.yaml
Labels: area/cluster
